.top_bar{
	background-color: #ebfbfc;
	min-width: 1050px;
	width: 100%;
	height: 40px;
	margin: 0 0 10px 0;
	display: inline-flex;
	
}
body{
	background-color: #cceaeb;
}

.wrapper{
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
	margin-top: 20px;
	display: flex;

}

.column{
	display: flex;
	background-color: #fff;
	border: 1px solid #a3a8a8;
	border-radius: 5px;
}

.user_details{
    width: 250px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 122px;
    
}

.user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
	margin-left: 120px;
}


img{
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

.main_column{
	display: block;
	width:70%;
	margin-left: 20px;
	float: right;
	min-height: 160px;
}

.post_form{
	width:100%;
}

textarea#post_text{
	width:80%;
	height:60%;
	margin-right: 5px;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #a3a8a8;
	border-radius: 5px;
}

.post_form input[type="submit"]
{
	width: 10%;
	background-color: #2489d1;
	border: 1px solid #a3a8a8;
	border-radius: 5px;
	color: #fff;

}
.status_post{
	
	margin-left:10px;
}
.post_profile_pic img{
	width: 50px;
	height:50px;
	float:left;
	margin-right:15px;
}
.comment_section img{
	height:30px;
	width:30px;
	float:left;
	display:inline;
	margin-right:3px;
}
iframe#comment_iframe{
	width: 100%;
    border: none;
    margin-top: 10px;
    min-height: 40px;
}
#comment_textarea{
	width:60%;
}
#comment_submit_button{
	background-color: #2489d1;
	border: 1px solid #a3a8a8;
	border-radius: 5px;
	color: #fff;
}
.newsFeedPostOptions{
	padding: 0px;
	text-decoration: none;
	color:#1579f6;
	border: none;
}
iframe#like_frame{
	border: white;
    height: 16px;
    width: 170px;
}
input.comment_like {
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
    border: none;
    color:#1579f6;
}
.like_value {
    display: inline;
}

.profile_left{
	height: 100vh;
    background-color: #46aedb;
    color: white;
    width: 20%;
    border-radius: 8px;
    border-right:5px solid #1e698a;
}

.profile_left img{
	    margin-left: 20%;
    	margin-top: 20px;
    	border-radius: 100%;
    	border:3px solid #1e698a;
}

.profile_info{
	    margin-top: 20px;
    	padding-left: 30%;
    	background-color: #1e698a
}
}


}

